.Logo{
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}
.card{
    width: 15%;
    box-sizing: border-box;
    display: inline-block;
    padding: 15px;
    border: #c3a77b;
    border-style: solid;
    border-radius: 10px;
    transform: translate3d(40px, 50px, 50px);
    margin: 1%;
    margin-bottom: 20px;
    background-color: #f6f6dd;
}
.card h2{
    font-size: 1.2em;
}
.search{
    width: 20%;
    padding: 10px;
    border-radius: 10px;
    transform: translate(50%, 20%)
}
.optionFilter{
    width: 10%;
    height: 35px;
    border-radius: 10px;
    transform: translate(220%, 20%)
} 
.optionOrder{
    width: 8%;
    height: 35px;
    border-radius: 10px;
    transform: translate(20%, 20%)
}
.body{
    background-image: url(pokemon-go-teams.jpg);
    background-repeat: round;
    background-attachment: fixed;
}
.show{
    width: 92%;
    margin: 0 8%;
}

@media (max-width: 500px){
.root{
    transform: translate(-40%, 10%);
}
.search{
    width: 80%;
}
.card{
   display: block;
   width: 60%;
}
}