.Logo{
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}
.card{
    width: 150px;
    height: 210px;
    display: inline-block;
    padding: 15px;
    border: #c3a77b;
    border-style: solid;
    border-radius: 10px;
    transform: translate3d(40px, 50px, 50px);
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #f6f6dd;
}
.card h2{
    font-size: 1.2em;
}
.search{
    width: 500px;
    height: 35px;
    border-radius: 10px;
    transform: translate(50%, 20%)
}
.optionFilter{
    width: 150px;
    height: 35px;
    border-radius: 10px;
    transform: translate(200%, 20%)
} 
.body{
    background-image: url(pokemon-go-teams.jpg);
    background-repeat: round;
    background-attachment: fixed;
}
.root{
    display: flex;
    justify-content: flex-start;
}